@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background: linear-gradient(-45deg, #e0c1b8, #f1e6eb, #c4e2ec, #dcebe7);
    width: 100vw;
    height: 100%;
    animation: gradient 15s ease infinite;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}